body{
	background-color: rgba(185,123,20,0.2);
}

.jumbotron{
	background:url(http://filmenglish.files.wordpress.com/2012/02/to-do-list-title.png);
	background-position: cover;
}

#top{
	text-align: center;
}

li{
	color: darkred;
	font-size: 20px;
	margin-bottom: 5px;
}

#input{
	width: 170px;
	height: 35px;
	margin-bottom: 20px;
}

h3{
	color: brown;
	font-weight: bold;
}

.row{
	background-color: #eee;
}

.panel{
	background-color: rgb(230,200,150);
}

#trash{
	background-color: lightgrey;
	padding:5px;
}
/*@media screen and (max-device-width: 768px) {
	.col-md-4 {
		border: 2px solid red;
		width: 33% !important;

	}
}*/
