body{
	background-color: rgba(185,123,20,0.2);
}

.jumbotron{
	background:url(http://filmenglish.files.wordpress.com/2012/02/to-do-list-title.png);
}

#top{
	text-align: center;
}

li{
	color: darkred;
	font-size: 20px;
	margin-bottom: 5px;
}

#input{
	width: 170px;
	height: 35px;
	margin-bottom: 20px;
}

h3{
	color: brown;
	font-weight: bold;
}

.row{
	background-color: #eee;
}

#deleteButton{
	float: right;
}

#todoList{
	float: left;
}

.panel{
	background-color: rgb(230,200,150);
}

/*@media only screen and (min-width: 768px) {
	.col-4 {width: 33.33%;}
}
*/