body{
	background-color: rgba(185,123,20,0.2);
}

.jumbotron{
	text-align: center;
	background:url(http://filmenglish.files.wordpress.com/2012/02/to-do-list-title.png);
}

#top{
	text-align: center;
}

li{
	color: darkred;
	font-size: 20px;
	margin-bottom: 5px;
}

#input{
	width: 170px;
	height: 35px;
	margin-bottom: 20px;
}

h3{
	color: brown;
	font-weight: bold;
}

.table{
	background-color: #eee;
}
